@import "./variables.scss";

.sideNavContainer {
  padding: 2rem;
  background-color: $white;
  height: 100vh;
  overflow: hidden;
}
.rightSideContainer {
  padding: 2rem 0rem;
  height: 100vh;
  overflow: auto;
  background-color: $off-white;

  .overviewCardContainer {
    height: 5rem;
  }
  .squareCardContainer {
    height: 10rem;
    width: 15rem;
  }

  .dashboardTopSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    div {
      padding: 0rem 0.5rem;
    }
  }

  .dashboardBottomSection {
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    div {
      padding: 1rem 0.25rem 1rem 0.75rem;
    }
  }
}
.tableTitleContainer {
  background-color: $white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin: 1rem;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  .titleContainer {
    display: flex;
    align-items: center;
    h1 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-left: 0.5rem;
    }
  }
  .filterContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .popOverContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        margin-left: 1rem;
      }
    }
  }
}
.tableContainer {
  background-color: $white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin: 1rem;
  // thead > tr > th:last-of-type {
  //   text-align: left !important;
  // }
  .actionContainers {
    // display: flex;
    // align-items: center;
    // justify-content: flex-end;
    position: relative;
    button {
      margin-top: 0.5rem;
      background-color: transparent;
    }
    .completedStatus {
      color: $green;
      text-transform: uppercase;
      font-weight: 800;
      background-color: $green;
      text-align: center;
      color: $white;
      padding: 0.5rem;
      letter-spacing: 0.1rem;
      width: 8rem;
    }
    .blueBtn {
      button {
        border-color: rgba($color: $blue, $alpha: 0.8);
        color: rgba($color: $blue, $alpha: 0.8);
        &:hover {
          border-color: rgba($color: $blue, $alpha: 1);
          color: rgba($color: $blue, $alpha: 1);
        }
      }
    }
    .greenBtn {
      button {
        border-color: rgba($color: $green, $alpha: 0.8);
        color: rgba($color: $green, $alpha: 0.8);
        &:hover {
          border-color: rgba($color: $green, $alpha: 1);
          color: rgba($color: $green, $alpha: 1);
        }
      }
    }
    .orangeBtn {
      button {
        border-color: rgba($color: $orange, $alpha: 0.8);
        color: rgba($color: $orange, $alpha: 0.8);
        &:hover {
          border-color: rgba($color: $orange, $alpha: 1);
          color: rgba($color: $orange, $alpha: 1);
        }
      }
    }
    .redBtn {
      button {
        border-color: rgba($color: $red, $alpha: 0.8);
        color: rgba($color: $red, $alpha: 0.8);
        &:hover {
          border-color: rgba($color: $red, $alpha: 1);
          color: rgba($color: $red, $alpha: 1);
        }
      }
    }
  }
}
